<div class="container">
  <form [formGroup]="motherboardForm">
    <label formControl="SKU">SKU</label>
    <input  class="form-control" type="text" formControlName="SKU" />


    <!--
       <span *ngIf="motherboardForm.get('SKU').hasError('required')">
      Este campo es requerido
    </span>

    <input class="form-control" type="text" formControlName="Chipset" />
    <input class="form-control" type="text" formControlName="Procesador" />
    <input class="form-control" type="text" formControlName="Modelo" />
    <input class="form-control" type="text" formControlName="Socket" />
    <input class="form-control" type="text" formControlName="Marca" />
    <input class="form-control" type="text" formControlName="TipoMemoria" />
    <input class="form-control" type="text" formControlName="MemoriaMaxima" />
    <input class="form-control" type="text" formControlName="Descripcion" />
    <input class="form-control" type="text" formControlName="Aviso" />
    <input class="form-control" type="text" formControlName="Piezas" />
    <input class="form-control" type="text" formControlName="PrecioAnterior" />
    <input class="form-control" type="text" formControlName="Precio" />
    <input class="form-control" type="text" formControlName="CostoEnvio" />
    <input class="form-control" type="text" formControlName="Porcentaje" />
    <input class="form-control" type="text" formControlName="ValidoHasta" />
    <input class="form-control" type="text" formControlName="ImagenS" />



    <button class="btn btn-primary" (click)="saveMotherboard()">Guardar</button>

    -->

    <button type="button" class="btn btn-secondary" (click)="regresar()" >Regresar</button>

  </form>
</div>
