<p>account works!</p>

<table class="table">

  <tbody>
    <tr>

      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td >Larry the Bird</td>
      <td >
        <p>
          <a class="nav-link" routerLink="/mi-cuenta/perfil"  role="cell" >
            Mi perfil
          </a>
        </p>
        <p>Modifica tu nombre de usuario, cambia tu foto de perfil o conoce tu ranking de usuario.</p>
      </td>
      <td>
        <p>
          <a class="nav-link" routerLink="/mi-cuenta/opiniones"  role="cell" >
            Mis opiniones
          </a>
        </p>
        <p>Revisa tus opiniones pendientes, las publicadas y sus votos.</p>
      </td>
    </tr>
  </tbody>
</table>
